* {
  color: #605959;
}

main {
  display: flex;
  height:90vh;
  
}


/*----ajout style niv1 (logo ajouté)*/
@font-face {
    font-family: RobotCrush;
    src: url(../assets/Robot_Crush.otf);
}

#logo {
    width: 100px;
} 

#logoDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    display: inline-block;
    margin-top: 0;
    margin-left: 20px;
    font-family: RobotCrush;
    color: #38302d;
}

h1 > span {
    color: #f46406;
}
/*----fin ajout style niv1 (logo ajouté)*/
/*
/titre vavant ajout logo
h1 {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 20px;
}
*/

#left {
  background-color: #ffb778;
  padding-top: 30px;
  padding-bottom: 30px;
}

#btnInput {
  width: 160px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

#codeDiv {
 
}

#numbers {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 30px;
  position: absolute;
  z-index: 9999;
  background-color: #C2BCBC;
  color: white;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  height: 220px;
  padding-top: 5px;
  padding-bottom: 10px;
}

#numbers > p {
  margin: 0;
}


#numbers > p:last-of-type {
  margin-bottom: 7px;
}

#codeText {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  position: relative;
  background-color: #F8F2E7;
  border-radius: 10px;
  height: 220px;
  padding-left: 50px;
  padding-top: 13px;
}

.codeProposition{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom:10px;
}

#codeProposition > p {
  font-size: 20px;
  margin-top: 20px;
  padding-top: 20px;

}
/* ici test*/
#codeText .bigtext {
    font-size: 20px;
/*    padding-top: 10px;*/
/*    line-height: 1.5;*/
}
/*ici fin test*/

#textInput {
  height: 20px;
  width: 100px;
  border-radius: 5px;
}

#valider {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}


#right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  background-color: #ffb778;
  position: relative;
}

#right > img {
    width: 720px;
}

.progress {
    margin-top: 20px;
}

/*Drag Drop style ici changement*/
.drop_solution {
  width: 200px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #B54B04;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.script {
  padding: 10px;
  width: 400px;
  height: 50px;
  background-color: #e3e3e3;
  border: 2px solid #dcdcdc;
}

.dragEle {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 3px;
  background-color: #ffb778;
  border: 1px solid transparent;
  border-radius: 5px;
}

#propositions {
  height: 40px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.fa-check {
  color: #53b565;
}

.fa-times {
  color: #f46406;
}

/*Boutons drag drop*/
.btn-sample { 
  color: #FFFFFF; 
  background-color: #F46406; 
  border-color: #F46406; 
} 

.btn-sample:hover, 
.btn-sample:focus, 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
  color: #FFFFFF; 
  background-color: #B54B04; 
  border-color: #F46406; 
} 

.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
  background-image: none; 
} 

.btn-sample.disabled, 
.btn-sample[disabled], 
fieldset[disabled] .btn-sample, 
.btn-sample.disabled:hover, 
.btn-sample[disabled]:hover, 
fieldset[disabled] .btn-sample:hover, 
.btn-sample.disabled:focus, 
.btn-sample[disabled]:focus, 
fieldset[disabled] .btn-sample:focus, 
.btn-sample.disabled:active, 
.btn-sample[disabled]:active, 
fieldset[disabled] .btn-sample:active, 
.btn-sample.disabled.active, 
.btn-sample[disabled].active, 
fieldset[disabled] .btn-sample.active { 
  background-color: #F46406; 
  border-color: #F46406; 
} 

.btn-sample .badge { 
  color: #F46406; 
  background-color: #FFFFFF; 
}

/*Bouton validation*/

.btn-validate { 
  color: #FFFFFF; 
  background-color: #53B565; 
  border-color: #53B565; 
} 

.btn-validate:hover, 
.btn-validate:focus, 
.btn-validate:active, 
.btn-validate.active, 
.open .dropdown-toggle.btn-validate { 
  color: #FFFFFF; 
  background-color: #3D874A; 
  border-color: #53B565; 
} 

.btn-validate:active, 
.btn-validate.active, 
.open .dropdown-toggle.btn-validate { 
  background-image: none; 
} 

.btn-validate.disabled, 
.btn-validate[disabled], 
fieldset[disabled] .btn-validate, 
.btn-validate.disabled:hover, 
.btn-validate[disabled]:hover, 
fieldset[disabled] .btn-validate:hover, 
.btn-validate.disabled:focus, 
.btn-validate[disabled]:focus, 
fieldset[disabled] .btn-validate:focus, 
.btn-validate.disabled:active, 
.btn-validate[disabled]:active, 
fieldset[disabled] .btn-validate:active, 
.btn-validate.disabled.active, 
.btn-validate[disabled].active, 
fieldset[disabled] .btn-validate.active { 
  background-color: #53B565; 
  border-color: #53B565; 
} 

.btn-validate .badge { 
  color: #53B565; 
  background-color: #FFFFFF; 
}

/*Footer*/
footer {
    background-color: #38302d;
    height: 10vh;
}

nav > a {
    background-color: #605959;
    color:white;
    margin:10px;
    border-radius: 4px;
}

nav {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.invisible{
    visibility:hidden;
}

.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: #605959;
  background-color: #a39e9e;
}